# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/*.backup
terraform/token.txt

# Ansible
ansible/vault-password
ansible/ssl/*
!ansible/ssl/.gitkeep

# Other
.DS_Store