yandex_cloud_id    = "{{ yandex_cloud_id }}"
yandex_folder_id   = "{{ yandex_folder_id }}"
yandex_zone        = "{{ yandex_zone }}"
app-vm-user        = "{{ vm_user }}"
ssh_key            = "{{ lookup('ansible.builtin.file', '~/.ssh/id_rsa.pub') }}"
app-vm-2_public_ip = "{{ hostvars.app2.ansible_host }}"
app-vm-1_public_ip = "{{ hostvars.app1.ansible_host }}"
db_user            = "{{ redmine_db_username }}"
db_name            = "{{ redmibe_db_database }}"
db_password        = "{{ redmine_db_password }}"
datadog_api_key    = "{{ datadog_api_key }}"
datadog_app_key    = "{{ datadog_app_key }}"
datadog_site       = "{{ datadog_site }}"
